<h2>Nhập thông tin Person</h2>
<form asp-action="Index">
    <label>Nhập PersonID</label>
    <input type="text" name="PersonID" placeholder="ID của bạn là gì?">
    <label>Nhập họ tên:</label>
    <input type="text" name="fullName" placeholder="Bạn tên là gì?">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address" placeholder="Bạn đến từ đâu?">
    <input type="submit" value="Gửi dữ liệu">
</form>